:root{
    --BORDER-COLOR: #e5e7eb;
}

.cart{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    grid-template-areas: 
    "cart-items cart-details";
    position: relative;
}

.cart-items{    
    grid-area: cart-items;
    padding: 3rem;
    border-right: 2px solid var(--BORDER-COLOR);
}

.cart-list{
    margin: 2rem auto;
}

.cart-details{
    padding: 5rem 2rem 2rem 2rem;
    grid-area: cart-details;
    width: 80%;
}

.cart-details > button{
    width: 100%;
    max-width: none;
}

.cart-details-price{
    justify-content: space-between;
    margin: 2rem auto;
}

.amount-highlight{
    color: var(--SECONDARY-COLOR);
}

.quantity{
    gap: 2rem;
}

.quantity > input[type="number"]{
    width: 7.5rem;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .cart{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cart-items"
        "cart-details";
    }

    .quantity{
        gap: 1rem
    }
}